body{
/*	background-image: url("background.png");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position:center;
	background-size：cover;
	height: 100%;
	width: 100%;*/
  
    position:absolute;
    top:0;
    left:0;
    height:90%;
    width:90%;
    background-image:url("background.png"); 
    background-repeat: no-repeat;
    background-attachment:fixed;
}
#iphone{
	display: block;
}
#time{
/*	position: relative;
	margin-top: 100px;
	left:510px;*/
	position: absolute;
    left: 35px;
    top: 70px;
    font-size: 40px;
}
#date{
	position: relative;
    left: 70px;
    top: 130px;
    font-size: 20px;
}
/***********/
#c1{
	position: absolute;
    left: 18px;
    top: 190px;
}
#c2{
	position: absolute;
	left: 78px;
	top: 190px;
}
#c3{
	position: absolute;
	left:138px;
	top: 190px;
}
#c4{
	position: absolute;
	left: 198px;
	top: 190px;
}
/***********/
#c5{
	position: absolute;
	left: 18px;
	top: 250px;
}
#c6{
	position: absolute;
	left: 78px;
	top: 250px;
}
#c7{
	position: absolute;
	left: 138px;
	top: 250px;
}
#c8{
	position: absolute;
    left: 198px;
    top: 250px;
}
/***********/
#c9{
	position: absolute;
    left: 18px;
    top: 310px;
}
#c10{
	position: absolute;
	left: 78px;
	top: 310px;
}
#c11{
	position: absolute;
	left:138px;
	top: 310px;
}
#c12{
	position: absolute;
	left: 198px;
	top: 310px;
}
/***********/
#c13{
	position: absolute;
    left: 18px;
    top: 370px;
}
#c14{
	position: absolute;
	left: 78px;
	top: 370px;
}
#c15{
	position: absolute;
	left:138px;
	top: 370px;
}
#c16{
	position: absolute;
	left: 198px;
	top: 370px;
}
/***********/
#c17{
	position: absolute;
    left: 18px;
    top: 430px;
}
#c18{
	position: absolute;
	left: 78px;
	top: 430px;
}
#c19{
	position: absolute;
	left:138px;
	top: 430px;
}
#c20{
	position: absolute;
	left: 198px;
	top: 430px;
}
#messages{
	position: absolute;
    left: 11px;
    top: 65px;
    display:none;
}
#music{
	position: absolute;
    left: 11px;
    top: 65px;
    display:none;
}
#numbers{
	position: absolute;
    left: 11px;
    top: 65px;
    display:none;
}
#pages{
	position: absolute;
    left: 11px;
    top: 65px;
    display:none;
}
#home{
	position: absolute;
	left: 110px;
	top: 520px;
}